<p>I'm a recent graduate student from Columbia University's the Master's of Science in Data Science (MSDS) program.
I'm currently looking for a full-time job so if you are looking for a bioinformatics scientist, computational biologist, 
or data scientist, feel free to contact me through any of the links on this page. I did a computational biology internship
at Roche Diagnostics and I'm currently working as a Research Assistant at the Jovanovic Lab at Columbia University. I try to share 
all my code/learnings on GitHub. However, I'm not able to share code related to ongoing papers/projects in the Jovanovic Lab or 
code related to projects I worked on at Roche Diagnostics.
</p>
