<p>I'm a graduate student at Columbia University in the Master's of Science in Data Science program.
I want to leverage my biology background with data science to help automate and streamline healthcare.
More than anything, I love solving problems with data! I'm currently looking for a full-time job so if you are looking for 
a bioinformatician, computational biologist, data scientist, data engineer, or machine learning engineer, let me know!
Feel free to contact me through any of the links on this page.</p>
