<!-- <ul class="skill-list">
	{% for skill in site.skills-list %}
		<li>{{ skill }}</li>
	{% endfor %}
</ul> -->

<ul class="skill-list">
	<li>Python</li>
	<ul>
		<li>Pandas</li>
		<li>PyTorch</li>
		<li>SciKit-learn</li>
		<li>NumPy</li>
		<li>BeautifulSoup</li>
	</ul>

	<li>R</li>
	<ul>
		<li>ggplot2</li>
		<li>tidyverse</li>
		<li>dplyr</li>
		<li>tibble</li>
	</ul>

	<li>Cloud/Infrastructure</li>
	<ul>
		<li>Google Cloud Platform (VMs, Cloud Build, & Firebase)</li>
		<li>Amazon Web Serivces (S3 and EC2)</li>
		<li>Docker</li>
	</ul>

	<li>Web Development</li>
	<ul>
		<li>JavaScript</li>
		<li>TypeScript</li>
		<li>NodeJS</li>
		<li>React</li>
	</ul>
	
</ul>
